<head>
    <title>Swap | Plutonium</title>
    <link rel="stylesheet" href="main.css"></link>
    {tailwind}
    {daisyui}
</head>

<script>
    var pubKey = Signal("pubKey", document.cookie.match('(^|;)\\s*' + "public_key" + '\\s*=\\s*([^;]+)')?.pop() || '')
</script>

<script>
    var totBal = Signal("totBal", 250.452);
    // const responseHoldings = {responseHoldings}
    // const responseAccBal = {responseAccBal}

    // const sum = 0

    // responseHoldings.forEach((item) => {
    //     item[1]
    // })



    console.log(responseHoldings, responseAccBal)
</script>

<body data-theme="forest" class="max-h-screen">

    {navbar}
    
    <div class="w-full h-full pl-[66px] pt-[10px]">

        <div class="flex justify-between h-[34px] mb-2 mx-[15px]">
            <div class="flex gap-2 items-center border border-white/10 px-1.5 py-1.5 rounded-lg w-[500px]">
                <svg width="17" height="17" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="8.3" cy="8.3" r="6.8" stroke="#8c8888" stroke-width="1.13333"></circle>
                    <path d="M17.8493 18.6507C18.0706 18.872 18.4294 18.872 18.6507 18.6507C18.872 18.4294 18.872 18.0706 18.6507 17.8493L17.8493 18.6507ZM13.6507 12.8493L13.25 12.4486L12.4486 13.25L12.8493 13.6507L13.6507 12.8493ZM18.6507 17.8493L13.6507 12.8493L12.8493 13.6507L17.8493 18.6507L18.6507 17.8493Z" fill="#8c8888"></path>
                </svg>                
                <input type="text" placeholder="Search" class="w-full outline-none placeholder:text-white/50 text-sm"></input>
            </div>

            <button class="border border-[#0A84FF] bg-[#0A84FF]/20 rounded-lg h-[34px] text-center w-[150px] truncate  px-2 text-medium text-white">{pubKey}</button>
        </div>

        <div class="w-full h-[calc(100vh-64px)] flex justify-center items-center">
            <div class="flex flex-col bg-white/[0.02] border border-white/[0.08] w-[450px] p-5 rounded-xl gap-5">

                <div class="w-full flex justify-center items-center h-[80px]">
                    <p class="font-semibold text-white text-4xl w-fit">{totBal} ETH</p>
                </div>

                <div class="flex gap-5">
                    <button class="border border-white/10 bg-white/[0.03] hover:opacity-[0.8] rounded-lg flex flex-col items-center justify-center gap-1.5 text-center p-2 flex-1 font-semibold transition">
                        <svg width="30px" height="30px" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.03202 11.1265L5.3912 10.2463C2.62584 9.32448 1.24316 8.86359 1.24316 8.0166C1.24316 7.1696 2.62584 6.70871 5.3912 5.78693L5.3912 5.78692L15.3954 2.4522C17.3411 1.80361 18.314 1.47931 18.8276 1.99287C19.3412 2.50642 19.0169 3.47931 18.3683 5.4251L15.0335 15.4293C14.1118 18.1946 13.6509 19.5773 12.8039 19.5773C11.9569 19.5773 11.496 18.1946 10.5742 15.4293L9.69392 12.7884L14.81 7.67241C15.2689 7.21349 15.2689 6.46943 14.81 6.01051C14.351 5.55159 13.607 5.55159 13.1481 6.01051L8.03202 11.1265Z" fill="#0A84FF" fill-opacity="0.7"></path>
                        </svg>
                        <p class="text-white/70">Send</p>                           
                    </button>
                    <button class="border border-white/10 bg-white/[0.03] hover:opacity-[0.8] rounded-lg flex flex-col items-center justify-center gap-1.5 text-center p-2 flex-1 font-semibold transition">
                        <svg height="30px" width="30px" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2 6L1.29289 5.29289L0.585786 6L1.29289 6.70711L2 6ZM17 8C17 8.55228 17.4477 9 18 9C18.5523 9 19 8.55228 19 8H17ZM5.29289 1.29289L1.29289 5.29289L2.70711 6.70711L6.70711 2.70711L5.29289 1.29289ZM1.29289 6.70711L5.29289 10.7071L6.70711 9.29289L2.70711 5.29289L1.29289 6.70711ZM2 7H16V5H2V7ZM16 7C16.5523 7 17 7.44772 17 8H19C19 6.34315 17.6569 5 16 5V7Z" fill="#0A84FF" fill-opacity="0.7"></path>
                            <path d="M18.5 14L19.2071 13.2929L19.9142 14L19.2071 14.7071L18.5 14ZM3.5 14L3.5 15L3.5 15L3.5 14ZM0.5 12C0.5 11.4477 0.947715 11 1.5 11C2.05228 11 2.5 11.4477 2.5 12L0.5 12ZM15.2071 9.29289L19.2071 13.2929L17.7929 14.7071L13.7929 10.7071L15.2071 9.29289ZM19.2071 14.7071L15.2071 18.7071L13.7929 17.2929L17.7929 13.2929L19.2071 14.7071ZM18.5 15L3.5 15L3.5 13L18.5 13L18.5 15ZM3.5 15C1.84314 15 0.5 13.6569 0.5 12L2.5 12C2.5 12.5523 2.94771 13 3.5 13L3.5 15Z" fill="#0A84FF" fill-opacity="0.7"></path>
                        </svg>
                        Swap
                    </button>
                    <button class="border border-white/10 bg-white/[0.03] hover:opacity-[0.8] rounded-lg flex flex-col items-center justify-center gap-1.5 text-center p-2 flex-1 font-semibold transition">Swap</button>
                    <button class="border border-white/10 bg-white/[0.03] hover:opacity-[0.8] rounded-lg flex flex-col items-center justify-center gap-1.5 text-center p-2 flex-1 font-semibold transition">Swap</button>
                </div>

                <div class="flex items-center gap-3 rounded-lg border-2 border-white/[0.1] bg-white/[0.02] relative p-3">
                    <img src="ht" onerror="this.src='https://api.dicebear.com/9.x/initials/svg?seed=er32344ddw'" class="w-[45px] h-[45px] rounded-full object-cover"></img>
                    <div class="flex flex-col">
                        <p class="text-white/90 text-lg font-medium">Brodyaga Phonk</p>
                        <p class="text-white/60">133.13 BYP</p>
                    </div>

                    <p class="text-lg text-white/60 text-right flex-1">200 ETH</p>
                </div>
                <div class="flex items-center gap-3 rounded-lg border-2 border-white/[0.1] bg-white/[0.02] relative p-3">
                    <img src="ht" onerror="this.src='https://api.dicebear.com/9.x/initials/svg?seed=er32344ddw'" class="w-[45px] h-[45px] rounded-full object-cover"></img>
                    <div class="flex flex-col">
                        <p class="text-white/90 text-lg font-medium">Brodyaga Phonk</p>
                        <p class="text-white/60">133.13 BYP</p>
                    </div>

                    <p class="text-lg text-white/60 text-right flex-1">200 ETH</p>
                </div>
                <div class="flex items-center gap-3 rounded-lg border-2 border-white/[0.1] bg-white/[0.02] relative p-3">
                    <img src="ht" onerror="this.src='https://api.dicebear.com/9.x/initials/svg?seed=er32344ddw'" class="w-[45px] h-[45px] rounded-full object-cover"></img>
                    <div class="flex flex-col">
                        <p class="text-white/90 text-lg font-medium">Brodyaga Phonk</p>
                        <p class="text-white/60">133.13 BYP</p>
                    </div>

                    <p class="text-lg text-white/60 text-right flex-1">200 ETH</p>
                </div>
            </div>
        </div>

    </div>
</body>