<head>
    <title>Home | Plutonium</title>
    <link rel="stylesheet" href="main.css"></link>
    {tailwind}
    {daisyui}
</head>

<script>var pubKey = Signal("pubKey", document.cookie.match('(^|;)\\s*' + "public_key" + '\\s*=\\s*([^;]+)')?.pop() || '')</script>

<script>
    var tokens = Signal("tokens", [])
    function Update_Tokens() {
        var search="";
        try {
            search=encodeURIComponent(document.getElementById("search").value)
        } catch {}
        fetch("http://10.43.0.96:7777/tokens_web?search="+search).then(async (x)=>{
            var data=await x.json();
            console.log(data)
            tokens.setValue(data);
        })
    }
    Update_Tokens()
    setInterval(Update_Tokens, 10000)
</script>

<body data-theme="forest" class="max-h-screen">

    {navbar}
    <div class="w-full h-full pl-[66px] pt-[10px]">

        <div class="flex justify-between h-[34px] mb-2 mx-[15px]">
            <div class="flex gap-2 items-center border border-white/10 px-1.5 py-1.5 rounded-lg w-[500px]">
                <svg width="17" height="17" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="8.3" cy="8.3" r="6.8" stroke="#8c8888" stroke-width="1.13333"></circle>
                    <path d="M17.8493 18.6507C18.0706 18.872 18.4294 18.872 18.6507 18.6507C18.872 18.4294 18.872 18.0706 18.6507 17.8493L17.8493 18.6507ZM13.6507 12.8493L13.25 12.4486L12.4486 13.25L12.8493 13.6507L13.6507 12.8493ZM18.6507 17.8493L13.6507 12.8493L12.8493 13.6507L17.8493 18.6507L18.6507 17.8493Z" fill="#8c8888"></path>
                </svg>                
                <input type="text" placeholder="Search" id="search" class="w-full outline-none placeholder:text-white/50 text-sm" oninput="Update_Tokens()"></input>
            </div>

            <button class="border border-[#0A84FF] bg-[#0A84FF]/20 rounded-lg h-[34px] text-center w-[150px] truncate  px-2 text-medium text-white">{pubKey}</button>
        </div>

        <for i and element in tokens class="w-full max-h-[calc(100vh-64px)] grid grid-cols-3 gap-10 pt-10">
            <div class="mx-2 p-4 bg-white/[0.03] rounded-lg border border-white/10"> 

                <div class="flex gap-6">    
                    <img src="{element[2][1]}" onerror="this.src = 'https://api.dicebear.com/9.x/initials/svg?seed={element[2][0]}'" class="w-[75px] h-[75px] rounded-full object-cover"></img> 
                    
                    <div class="flex flex-col gap-2 w-full">
                        <div class="flex justify-between w-full mt-2">
                            <div class="flex gap-2 w-full">
                                <script>document.currentScript.nextElementSibling.textContent = element[2][0]</script> 
                                <p class="text-base capitalize text-white h-min"></p>
                                <script>document.currentScript.nextElementSibling.textContent = "$" + element[2][6]</script> 
                                <p class="text-xs uppercase text-white/40 h-min leading-[1.5rem]"></p>
                            </div>

                            <div class="relative">
                                <p class="text-[10px] text-white/30 absolute top-[-11px] left-[15%]">Market Cap</p>
                                
                                <script>document.currentScript.nextElementSibling.textContent = (element[4][1]/(10**18)).toFixed(3)+"ETH"</script> 
                                <p class="text-lg uppercase text-[#0A84FF]"></p>
                            </div>
                        </div>
                        
                        <script>document.currentScript.nextElementSibling.textContent = element[2][2]</script> 
                        <p class="text-sm text-white/50"></p>

                        <div class="flex justify-between w-full mt-2">
                            <div>
                                <script>document.currentScript.nextElementSibling.href = element[2][4]</script> 
                                <a class="mx-1.5 ml-0 hover:underline cursor-pointer text-sm" target="_blank">X</a>
                                |
                                <script>document.currentScript.nextElementSibling.href = element[2][3]</script> 
                                <a class="mx-1.5 hover:underline cursor-pointer text-sm" target="_blank">Telegram</a>
                                |
                                <script>document.currentScript.nextElementSibling.href = element[2][5]</script> 
                                <a class="mx-1.5 mr-0 hover:underline cursor-pointer text-sm" target="_blank">Website</a>
                            </div>
                            
                            <a href="/token?token={element[1]}">
                                <button class="h-full border border-[#0A84FF] bg-[#0A84FF]/30 rounded-lg text-xs text-center px-5 text-white w-fit hover:opacity-[0.85] transition">Open</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </for>
    </div>
</body>