<head>
    <title>Register | Plutonium</title>
    <link rel="stylesheet" href="main.css"></link>
    {tailwind}
    {daisyui}
</head>

<script>
    function Submit_Registration() {
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        const token = urlParams.get("token");
        window.location.href="/submit_registration?token="+token+"&username="+encodeURIComponent(document.getElementById("username").value)
    }
</script>

<body data-theme="forest" class="max-h-screen">

    <div class="flex justify-center items-center w-full h-full">
        <div class="flex flex-col bg-white/[0.04] border border-white/[0.15] w-[450px] p-5 rounded-xl gap-5">
            <div class="flex justify-center items-center gap-3 mb-7">
                <img src="logo.svg" alt="" class="h-14"></img>
                <h1 class="orbitron text-3xl">Plutonium</h1>
            </div>

            <div class="flex rounded-lg border-2 border-white/[0.05] overflow-hidden relative">
                <p class="py-2 px-4 bg-white/[0.05] text-sm tracking-wider text-white/[0.6]">USERNAME</p>
                <input id="username" type="text" class="outline-none border-none pl-2 w-full" placeholder="e.g. aludayalu"></input>
            </div>

            <button class="border border-[#0A84FF] bg-[#0A84FF]/30 hover:opacity-[0.8] rounded-lg h-[34px] text-center px-2 py-1 text-medium text-white flex-1 font-semibold mt-5 transition" onclick="Submit_Registration()">Create Profile</button>
        </div>
    </div>
</body>